html, body
{
    background-color: #fff;
    color: #000;
    letter-spacing: 0.5px;
    font-family: "Source Sans Pro", Arial, sans-serif;
    height: 100vh;
    margin: 0;
}

footer
{
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ddd;
}

.container {
    /* width: 100%; */
    /* padding: 100px; */
    /* text-align: center; */
    transition: all .5s cubic-bezier(.55,0,.1,1);
}

.wrapper {
    min-height: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0px 10vw;
}

section {
    padding: 30px 0px;
}

.fab {
	font-family: "FontAwesome";
}

a, a:hover, a:focus, a:visited
{
    color: #000;
}

.logo {
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 289px;
}

/*--------------------------------------------------------------
| Transition
--------------------------------------------------------------*/
.page-enter-active, .page-leave-active {
    transition: opacity 0.5s;
}
.page-enter, .page-leave-active {
    opacity: 0;
}

.slide-left-enter,
.slide-right-leave-active {
    opacity: 0;
    transform: translate(50%, 0);
}
.slide-left-leave-active,
.slide-right-enter {
    opacity: 0;
    transform: translate(-50%, 0);
}